In [8]:
print("hello world")

hello world

In [96]:
import requests
import json
from fred_api_key import api_key 
import pandas as pd
import fredapi as fa
from dateutil import rrule
from datetime import date, datetime, timedelta
import calendar

In [56]:
fred = fa.Fred(api_key)

In [11]:
median_sale_price = 'Resources/median sale price.csv'
median_sale_price = pd.read_csv(median_sale_price)

In [27]:
median_sale_price.head(26)

,SizeRank,RegionName,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,...,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023
0,0,United States,234730.0,234204.0,234463.0,235793.0,236051.0,237189.0,237591.0,240356.0,...,347712.0,354759.0,357096.0,353337.0,347545.0,343106.0,340474.0,337433.0,333395.0,330963
1,1,"New York, NY",400544.0,406886.0,405333.0,408229.0,400611.0,401382.0,400577.0,401650.0,...,530064.0,537957.0,545143.0,551160.0,557161.0,554162.0,545334.0,535995.0,531301.0,528584
2,2,"Los Angeles, CA",631226.0,627691.0,629338.0,630193.0,628718.0,624524.0,621848.0,625020.0,...,891677.0,904875.0,903309.0,886535.0,871617.0,859954.0,856337.0,849322.0,840678.0,835434
3,3,"Chicago, IL",223621.0,222898.0,223829.0,227846.0,229560.0,230611.0,233522.0,236514.0,...,288628.0,290468.0,294768.0,295454.0,294196.0,290457.0,287437.0,286443.0,286682.0,286914
4,4,"Dallas, TX",259950.0,255109.0,253399.0,253805.0,254198.0,253403.0,253775.0,255327.0,...,388741.0,403062.0,412268.0,410701.0,404747.0,396723.0,391805.0,387637.0,381228.0,375177
5,5,"Houston, TX",221270.0,220449.0,220679.0,221628.0,222783.0,222752.0,224113.0,225808.0,...,323493.0,329674.0,334747.0,336019.0,330946.0,327666.0,323361.0,320765.0,315651.0,313690
6,6,"Washington, DC",385264.0,384470.0,385907.0,386526.0,390446.0,393540.0,396652.0,399836.0,...,492196.0,506356.0,511189.0,506821.0,499513.0,493312.0,491595.0,491614.0,484960.0,477182
7,7,"Miami, FL",262640.0,262100.0,265882.0,269781.0,271295.0,271013.0,270494.0,275337.0,...,397800.0,406140.0,411027.0,414376.0,412037.0,411279.0,414988.0,416303.0,417066.0,416790
8,8,"Philadelphia, PA",228012.0,228818.0,229154.0,230828.0,231552.0,234055.0,233877.0,237063.0,...,297838.0,304701.0,314598.0,320271.0,319425.0,318140.0,317783.0,317197.0,317316.0,316064
9,9,"Atlanta, GA",223112.0,224875.0,228402.0,231187.0,230909.0,230142.0,230847.0,233430.0,...,356674.0,364393.0,371609.0,374745.0,374322.0,371643.0,368126.0,362917.0,359244.0,354583
10,10,"Phoenix, AZ",264567.0,265265.0,265209.0,266190.0,267171.0,268144.0,268752.0,269175.0,...,465752.0,476058.0,481448.0,479299.0,470415.0,459727.0,454558.0,447240.0,438124.0,429677
11,11,"Boston, MA",435788.0,433103.0,435156.0,435090.0,433530.0,434012.0,438822.0,445098.0,...,598315.0,614825.0,627109.0,628026.0,623373.0,614386.0,609546.0,609041.0,601265.0,592401
12,12,"San Francisco, CA",856361.0,847373.0,853400.0,853480.0,846620.0,833478.0,835977.0,841447.0,...,1146275.0,1179078.0,1186018.0,1148202.0,1092715.0,1069385.0,1066732.0,1074226.0,1047001.0,1019039
13,13,"Riverside, CA",351063.0,353918.0,353964.0,354115.0,351179.0,351541.0,351725.0,353681.0,...,546781.0,556477.0,560854.0,554084.0,547247.0,539279.0,536103.0,525218.0,518245.0,511430
14,14,"Detroit, MI",177229.0,173782.0,172753.0,172311.0,174320.0,174149.0,175939.0,178122.0,...,234430.0,237011.0,242125.0,246443.0,244585.0,240513.0,237711.0,236587.0,234924.0,227207
15,15,"Seattle, WA",441059.0,436474.0,434599.0,433603.0,433661.0,435432.0,442720.0,449537.0,...,697791.0,718282.0,718057.0,699898.0,676502.0,664439.0,666354.0,660498.0,651598.0,641397
16,16,"Minneapolis, MN",246524.0,246819.0,250703.0,254567.0,256313.0,256817.0,258068.0,262918.0,...,336824.0,344278.0,350976.0,353851.0,352046.0,350652.0,347372.0,344706.0,339757.0,337638
17,17,"San Diego, CA",573376.0,574550.0,571037.0,567283.0,562931.0,569186.0,571959.0,573489.0,...,821606.0,840280.0,838222.0,824856.0,805402.0,797418.0,794630.0,790251.0,783568.0,782686
18,18,"Tampa, FL",206925.0,207700.0,208079.0,211066.0,211274.0,212541.0,212969.0,214498.0,...,349657.0,358924.0,366877.0,372817.0,371357.0,365961.0,365005.0,362924.0,363464.0,357177
19,19,"Denver, CO",399471.0,397871.0,398567.0,398839.0,398918.0,397987.0,398395.0,399684.0,...,592844.0,606443.0,612338.0,605044.0,597578.0,590920.0,587509.0,584230.0,575395.0,566431
20,20,"St. Louis, MO",175942.0,176140.0,176358.0,176599.0,177866.0,180718.0,181655.0,183145.0,...,225450.0,230142.0,235372.0,238433.0,239773.0,235696.0,235414.0,234267.0,233845.0,229286
21,21,"Baltimore, MD",275358.0,277066.0,276745.0,279114.0,279418.0,277690.0,278446.0,278132.0,...,335591.0,341488.0,347825.0,347522.0,344989.0,342358.0,342410.0,341095.0,337994.0,336012
22,22,"Charlotte, NC",226111.0,225978.0,227500.0,228979.0,229278.0,228612.0,227711.0,230518.0,...,364256.0,373137.0,382763.0,382149.0,377742.0,372591.0,368888.0,364857.0,357515.0,358694
23,23,"Orlando, FL",231100.0,231818.0,233358.0,233587.0,236395.0,236739.0,240583.0,240523.0,...,369423.0,378299.0,385806.0,387286.0,387054.0,383048.0,379939.0,377531.0,374973.0,371994
24,24,"San Antonio, TX",213995.0,211960.0,213163.0,212959.0,214142.0,212697.0,213381.0,214736.0,...,313297.0,320388.0,325551.0,325353.0,322311.0,318988.0,321603.0,319167.0,319069.0,313889
25,25,"Portland, OR",384528.0,382542.0,384619.0,383644.0,383375.0,380446.0,382146.0,383632.0,...,532059.0,543677.0,547514.0,546076.0,540081.0,534834.0,531034.0,528404.0,519501.0,510440

In [30]:
# median_sale_price.drop(columns= ['RegionType', 'RegionID', 'StateName'])
median_sale_price_cleaned = median_sale_price
median_sale_price_cleaned

,SizeRank,RegionName,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,...,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023
0,0,United States,234730.0,234204.0,234463.0,235793.0,236051.0,237189.0,237591.0,240356.0,...,347712.0,354759.0,357096.0,353337.0,347545.0,343106.0,340474.0,337433.0,333395.0,330963
1,1,"New York, NY",400544.0,406886.0,405333.0,408229.0,400611.0,401382.0,400577.0,401650.0,...,530064.0,537957.0,545143.0,551160.0,557161.0,554162.0,545334.0,535995.0,531301.0,528584
2,2,"Los Angeles, CA",631226.0,627691.0,629338.0,630193.0,628718.0,624524.0,621848.0,625020.0,...,891677.0,904875.0,903309.0,886535.0,871617.0,859954.0,856337.0,849322.0,840678.0,835434
3,3,"Chicago, IL",223621.0,222898.0,223829.0,227846.0,229560.0,230611.0,233522.0,236514.0,...,288628.0,290468.0,294768.0,295454.0,294196.0,290457.0,287437.0,286443.0,286682.0,286914
4,4,"Dallas, TX",259950.0,255109.0,253399.0,253805.0,254198.0,253403.0,253775.0,255327.0,...,388741.0,403062.0,412268.0,410701.0,404747.0,396723.0,391805.0,387637.0,381228.0,375177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,816,"Fort Morgan, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292585
520,819,"Weatherford, OK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,178966.0,172452.0,168885.0,154141.0,151463.0,155313.0,156758.0,141539.0,141632.0,119269
521,825,"Alpena, MI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144756.0,149242.0,149847.0,152389.0,156748.0,156326.0,151989.0,143070.0,142780.0,141544
522,844,"Toccoa, GA",133240.0,134394.0,122712.0,117533.0,107772.0,113509.0,125356.0,122209.0,...,204551.0,202703.0,210223.0,205026.0,204263.0,197087.0,196088.0,187996.0,192815.0,208645
523,848,"Steamboat Springs, CO",426226.0,450371.0,437656.0,424014.0,407646.0,426916.0,441406.0,435463.0,...,722744.0,778125.0,867928.0,871982.0,881259.0,911903.0,881149.0,867500.0,824084.0,840914

In [38]:
column_names=list(median_sale_price_cleaned.columns)
new_list=[]
data_name= "Median Sale Price"
for name in column_names:
    new_list.append(f'{data_name} {name}')
median_sale_price_cleaned.columns=new_list
median_sale_price_cleaned

,Median Sale Price SizeRank,Median Sale Price RegionName,Median Sale Price 8/31/2018,Median Sale Price 9/30/2018,Median Sale Price 10/31/2018,Median Sale Price 11/30/2018,Median Sale Price 12/31/2018,Median Sale Price 1/31/2019,Median Sale Price 2/28/2019,Median Sale Price 3/31/2019,...,Median Sale Price 4/30/2022,Median Sale Price 5/31/2022,Median Sale Price 6/30/2022,Median Sale Price 7/31/2022,Median Sale Price 8/31/2022,Median Sale Price 9/30/2022,Median Sale Price 10/31/2022,Median Sale Price 11/30/2022,Median Sale Price 12/31/2022,Median Sale Price 1/31/2023
0,0,United States,234730.0,234204.0,234463.0,235793.0,236051.0,237189.0,237591.0,240356.0,...,347712.0,354759.0,357096.0,353337.0,347545.0,343106.0,340474.0,337433.0,333395.0,330963
1,1,"New York, NY",400544.0,406886.0,405333.0,408229.0,400611.0,401382.0,400577.0,401650.0,...,530064.0,537957.0,545143.0,551160.0,557161.0,554162.0,545334.0,535995.0,531301.0,528584
2,2,"Los Angeles, CA",631226.0,627691.0,629338.0,630193.0,628718.0,624524.0,621848.0,625020.0,...,891677.0,904875.0,903309.0,886535.0,871617.0,859954.0,856337.0,849322.0,840678.0,835434
3,3,"Chicago, IL",223621.0,222898.0,223829.0,227846.0,229560.0,230611.0,233522.0,236514.0,...,288628.0,290468.0,294768.0,295454.0,294196.0,290457.0,287437.0,286443.0,286682.0,286914
4,4,"Dallas, TX",259950.0,255109.0,253399.0,253805.0,254198.0,253403.0,253775.0,255327.0,...,388741.0,403062.0,412268.0,410701.0,404747.0,396723.0,391805.0,387637.0,381228.0,375177
5,5,"Houston, TX",221270.0,220449.0,220679.0,221628.0,222783.0,222752.0,224113.0,225808.0,...,323493.0,329674.0,334747.0,336019.0,330946.0,327666.0,323361.0,320765.0,315651.0,313690
6,6,"Washington, DC",385264.0,384470.0,385907.0,386526.0,390446.0,393540.0,396652.0,399836.0,...,492196.0,506356.0,511189.0,506821.0,499513.0,493312.0,491595.0,491614.0,484960.0,477182
7,7,"Miami, FL",262640.0,262100.0,265882.0,269781.0,271295.0,271013.0,270494.0,275337.0,...,397800.0,406140.0,411027.0,414376.0,412037.0,411279.0,414988.0,416303.0,417066.0,416790
8,8,"Philadelphia, PA",228012.0,228818.0,229154.0,230828.0,231552.0,234055.0,233877.0,237063.0,...,297838.0,304701.0,314598.0,320271.0,319425.0,318140.0,317783.0,317197.0,317316.0,316064
9,9,"Atlanta, GA",223112.0,224875.0,228402.0,231187.0,230909.0,230142.0,230847.0,233430.0,...,356674.0,364393.0,371609.0,374745.0,374322.0,371643.0,368126.0,362917.0,359244.0,354583
10,10,"Phoenix, AZ",264567.0,265265.0,265209.0,266190.0,267171.0,268144.0,268752.0,269175.0,...,465752.0,476058.0,481448.0,479299.0,470415.0,459727.0,454558.0,447240.0,438124.0,429677
11,11,"Boston, MA",435788.0,433103.0,435156.0,435090.0,433530.0,434012.0,438822.0,445098.0,...,598315.0,614825.0,627109.0,628026.0,623373.0,614386.0,609546.0,609041.0,601265.0,592401
12,12,"San Francisco, CA",856361.0,847373.0,853400.0,853480.0,846620.0,833478.0,835977.0,841447.0,...,1146275.0,1179078.0,1186018.0,1148202.0,1092715.0,1069385.0,1066732.0,1074226.0,1047001.0,1019039
13,13,"Riverside, CA",351063.0,353918.0,353964.0,354115.0,351179.0,351541.0,351725.0,353681.0,...,546781.0,556477.0,560854.0,554084.0,547247.0,539279.0,536103.0,525218.0,518245.0,511430
14,14,"Detroit, MI",177229.0,173782.0,172753.0,172311.0,174320.0,174149.0,175939.0,178122.0,...,234430.0,237011.0,242125.0,246443.0,244585.0,240513.0,237711.0,236587.0,234924.0,227207
15,15,"Seattle, WA",441059.0,436474.0,434599.0,433603.0,433661.0,435432.0,442720.0,449537.0,...,697791.0,718282.0,718057.0,699898.0,676502.0,664439.0,666354.0,660498.0,651598.0,641397
16,16,"Minneapolis, MN",246524.0,246819.0,250703.0,254567.0,256313.0,256817.0,258068.0,262918.0,...,336824.0,344278.0,350976.0,353851.0,352046.0,350652.0,347372.0,344706.0,339757.0,337638
17,17,"San Diego, CA",573376.0,574550.0,571037.0,567283.0,562931.0,569186.0,571959.0,573489.0,...,821606.0,840280.0,838222.0,824856.0,805402.0,797418.0,794630.0,790251.0,783568.0,782686
18,18,"Tampa, FL",206925.0,207700.0,208079.0,211066.0,211274.0,212541.0,212969.0,214498.0,...,349657.0,358924.0,366877.0,372817.0,371357.0,365961.0,365005.0,362924.0,363464.0,357177
19,19,"Denver, CO",399471.0,397871.0,398567.0,398839.0,398918.0,397987.0,398395.0,399684.0,...,592844.0,606443.0,612338.0,605044.0,597578.0,590920.0,587509.0,584230.0,575395.0,566431
20,20,"St. Louis, MO",175942.0,176140.0,176358.0,176599.0,177866.0,180718.0,181655.0,183145.0,...,225450.0,230142.0,235372.0,238433.0,239773.0,235696.0,235414.0,234267.0,233845.0,229286
21,21,"Baltimore, MD",275358.0,277066.0,276745.0,279114.0,279418.0,277690.0,278446.0,278132.0,...,335591.0,341488.0,347825.0,347522.0,344989.0,342358.0,342410.0,341095.0,337994.0,336012
22,22,"Charlotte, NC",226111.0,225978.0,227500.0,228979.0,229278.0,228612.0,227711.0,230518.0,...,364256.0,373137.0,382763.0,382149.0,377742.0,372591.0,368888.0,364857.0,357515.0,358694
23,23,"Orlando, FL",231100.0,231818.0,233358.0,233587.0,236395.0,236739.0,240583.0,240523.0,...,369423.0,378299.0,385806.0,387286.0,387054.0,383048.0,379939.0,377531.0,374973.0,371994
24,24,"San Antonio, TX",213995.0,211960.0,213163.0,212959.0,214142.0,212697.0,213381.0,214736.0,...,313297.0,320388.0,325551.0,325353.0,322311.0,318988.0,321603.0,319167.0,319069.0,313889
25,25,"Portland, OR",384528.0,382542.0,384619.0,383644.0,383375.0,380446.0,382146.0,383632.0,...,532059.0,543677.0,547514.0,546076.0,540081.0,534834.0,531034.0,528404.0,519501.0,510440

In [40]:
median_sale_price_cleaned.rename(columns= {'Median Sale Price RegionName':'RegionName'}, inplace=True)
median_sale_price_cleaned

,Median Sale Price SizeRank,RegionName,Median Sale Price 8/31/2018,Median Sale Price 9/30/2018,Median Sale Price 10/31/2018,Median Sale Price 11/30/2018,Median Sale Price 12/31/2018,Median Sale Price 1/31/2019,Median Sale Price 2/28/2019,Median Sale Price 3/31/2019,...,Median Sale Price 4/30/2022,Median Sale Price 5/31/2022,Median Sale Price 6/30/2022,Median Sale Price 7/31/2022,Median Sale Price 8/31/2022,Median Sale Price 9/30/2022,Median Sale Price 10/31/2022,Median Sale Price 11/30/2022,Median Sale Price 12/31/2022,Median Sale Price 1/31/2023
0,0,United States,234730.0,234204.0,234463.0,235793.0,236051.0,237189.0,237591.0,240356.0,...,347712.0,354759.0,357096.0,353337.0,347545.0,343106.0,340474.0,337433.0,333395.0,330963
1,1,"New York, NY",400544.0,406886.0,405333.0,408229.0,400611.0,401382.0,400577.0,401650.0,...,530064.0,537957.0,545143.0,551160.0,557161.0,554162.0,545334.0,535995.0,531301.0,528584
2,2,"Los Angeles, CA",631226.0,627691.0,629338.0,630193.0,628718.0,624524.0,621848.0,625020.0,...,891677.0,904875.0,903309.0,886535.0,871617.0,859954.0,856337.0,849322.0,840678.0,835434
3,3,"Chicago, IL",223621.0,222898.0,223829.0,227846.0,229560.0,230611.0,233522.0,236514.0,...,288628.0,290468.0,294768.0,295454.0,294196.0,290457.0,287437.0,286443.0,286682.0,286914
4,4,"Dallas, TX",259950.0,255109.0,253399.0,253805.0,254198.0,253403.0,253775.0,255327.0,...,388741.0,403062.0,412268.0,410701.0,404747.0,396723.0,391805.0,387637.0,381228.0,375177
5,5,"Houston, TX",221270.0,220449.0,220679.0,221628.0,222783.0,222752.0,224113.0,225808.0,...,323493.0,329674.0,334747.0,336019.0,330946.0,327666.0,323361.0,320765.0,315651.0,313690
6,6,"Washington, DC",385264.0,384470.0,385907.0,386526.0,390446.0,393540.0,396652.0,399836.0,...,492196.0,506356.0,511189.0,506821.0,499513.0,493312.0,491595.0,491614.0,484960.0,477182
7,7,"Miami, FL",262640.0,262100.0,265882.0,269781.0,271295.0,271013.0,270494.0,275337.0,...,397800.0,406140.0,411027.0,414376.0,412037.0,411279.0,414988.0,416303.0,417066.0,416790
8,8,"Philadelphia, PA",228012.0,228818.0,229154.0,230828.0,231552.0,234055.0,233877.0,237063.0,...,297838.0,304701.0,314598.0,320271.0,319425.0,318140.0,317783.0,317197.0,317316.0,316064
9,9,"Atlanta, GA",223112.0,224875.0,228402.0,231187.0,230909.0,230142.0,230847.0,233430.0,...,356674.0,364393.0,371609.0,374745.0,374322.0,371643.0,368126.0,362917.0,359244.0,354583
10,10,"Phoenix, AZ",264567.0,265265.0,265209.0,266190.0,267171.0,268144.0,268752.0,269175.0,...,465752.0,476058.0,481448.0,479299.0,470415.0,459727.0,454558.0,447240.0,438124.0,429677
11,11,"Boston, MA",435788.0,433103.0,435156.0,435090.0,433530.0,434012.0,438822.0,445098.0,...,598315.0,614825.0,627109.0,628026.0,623373.0,614386.0,609546.0,609041.0,601265.0,592401
12,12,"San Francisco, CA",856361.0,847373.0,853400.0,853480.0,846620.0,833478.0,835977.0,841447.0,...,1146275.0,1179078.0,1186018.0,1148202.0,1092715.0,1069385.0,1066732.0,1074226.0,1047001.0,1019039
13,13,"Riverside, CA",351063.0,353918.0,353964.0,354115.0,351179.0,351541.0,351725.0,353681.0,...,546781.0,556477.0,560854.0,554084.0,547247.0,539279.0,536103.0,525218.0,518245.0,511430
14,14,"Detroit, MI",177229.0,173782.0,172753.0,172311.0,174320.0,174149.0,175939.0,178122.0,...,234430.0,237011.0,242125.0,246443.0,244585.0,240513.0,237711.0,236587.0,234924.0,227207
15,15,"Seattle, WA",441059.0,436474.0,434599.0,433603.0,433661.0,435432.0,442720.0,449537.0,...,697791.0,718282.0,718057.0,699898.0,676502.0,664439.0,666354.0,660498.0,651598.0,641397
16,16,"Minneapolis, MN",246524.0,246819.0,250703.0,254567.0,256313.0,256817.0,258068.0,262918.0,...,336824.0,344278.0,350976.0,353851.0,352046.0,350652.0,347372.0,344706.0,339757.0,337638
17,17,"San Diego, CA",573376.0,574550.0,571037.0,567283.0,562931.0,569186.0,571959.0,573489.0,...,821606.0,840280.0,838222.0,824856.0,805402.0,797418.0,794630.0,790251.0,783568.0,782686
18,18,"Tampa, FL",206925.0,207700.0,208079.0,211066.0,211274.0,212541.0,212969.0,214498.0,...,349657.0,358924.0,366877.0,372817.0,371357.0,365961.0,365005.0,362924.0,363464.0,357177
19,19,"Denver, CO",399471.0,397871.0,398567.0,398839.0,398918.0,397987.0,398395.0,399684.0,...,592844.0,606443.0,612338.0,605044.0,597578.0,590920.0,587509.0,584230.0,575395.0,566431
20,20,"St. Louis, MO",175942.0,176140.0,176358.0,176599.0,177866.0,180718.0,181655.0,183145.0,...,225450.0,230142.0,235372.0,238433.0,239773.0,235696.0,235414.0,234267.0,233845.0,229286
21,21,"Baltimore, MD",275358.0,277066.0,276745.0,279114.0,279418.0,277690.0,278446.0,278132.0,...,335591.0,341488.0,347825.0,347522.0,344989.0,342358.0,342410.0,341095.0,337994.0,336012
22,22,"Charlotte, NC",226111.0,225978.0,227500.0,228979.0,229278.0,228612.0,227711.0,230518.0,...,364256.0,373137.0,382763.0,382149.0,377742.0,372591.0,368888.0,364857.0,357515.0,358694
23,23,"Orlando, FL",231100.0,231818.0,233358.0,233587.0,236395.0,236739.0,240583.0,240523.0,...,369423.0,378299.0,385806.0,387286.0,387054.0,383048.0,379939.0,377531.0,374973.0,371994
24,24,"San Antonio, TX",213995.0,211960.0,213163.0,212959.0,214142.0,212697.0,213381.0,214736.0,...,313297.0,320388.0,325551.0,325353.0,322311.0,318988.0,321603.0,319167.0,319069.0,313889
25,25,"Portland, OR",384528.0,382542.0,384619.0,383644.0,383375.0,380446.0,382146.0,383632.0,...,532059.0,543677.0,547514.0,546076.0,540081.0,534834.0,531034.0,528404.0,519501.0,510440

In [41]:
median_sale_price_cleaned.to_csv("median_sale_price_cleaned.csv", index=False)

In [3]:
url = "https://api.stlouisfed.org/fred/category?category_id=125&file_type=json&api_key=" + api_key

In [59]:
url = "https://api.stlouisfed.org/fred/series?series_id=MORTGAGE30US&file_type=json&api_key=" + api_key + "&realtime_start=2018-08-31&realtime_end=2023-01-31"
#https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=abcdefghijklmnopqrstuvwxyz123456

In [60]:
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "realtime_end": "2023-01-31",
    "realtime_start": "2018-08-31",
    "seriess": [
        {
            "frequency": "Weekly, Ending Thursday",
            "frequency_short": "W",
            "id": "MORTGAGE30US",
            "last_updated": "2022-11-10 11:01:03-06",
            "notes": "Data is provided \"as is,\" by Freddie Mac\u00ae with no warranties of any kind, express or implied, including, but not limited to, warranties of accuracy or implied warranties of merchantability or fitness for a particular purpose. Use of the data is at the user's sole risk. In no event will Freddie Mac be liable for any damages arising out of or related to the data, including, but not limited to direct, indirect, incidental, special, consequential, or punitive damages, whether under a contract, tort, or any other theory of liability, even if Freddie Mac is aware of the possibility of such damages.\n\nCopyright, 2016, Freddie Mac. Reprinted with permission.",
            "observation_end": "2022-11-10",
            "observation_start": "1971-04-02",
            "popularity": 99,
            "realtime_end": "2022-11-16",
            "realtime_start": "2018-08-31",
            "seasonal_adjustment": "Not Seasonally Adjusted",
            "seasonal_adjustment_short": "NSA",
            "title": "30-Year Fixed Rate Mortgage Average in the United States",
            "units": "Percent",
            "units_short": "%"
        },
        {
            "frequency": "Weekly, Ending Thursday",
            "frequency_short": "W",
            "id": "MORTGAGE30US",
            "last_updated": "2023-01-26 11:06:01-06",
            "notes": "On November 17, 2022, Freddie Mac changed the methodology of the Primary Mortgage Market Survey\u00ae (PMMS\u00ae). The weekly mortgage rate is now based on applications submitted to Freddie Mac from lenders across the country. For more information regarding Freddie Mac\u2019s enhancement, see their research note (https://www.freddiemac.com/research/insight/20221103-freddie-macs-newly-enhanced-mortgage-rate-survey).\n\nData are provided \u201cas is\u201d by Freddie Mac\u00ae, with no warranties of any kind, express or implied, including but not limited to warranties of accuracy or implied warranties of merchantability or fitness for a particular purpose. Use of the data is at the user\u2019s sole risk. In no event will Freddie Mac be liable for any damages arising out of or related to the data, including but not limited to direct, indirect, incidental, special, consequential, or punitive damages, whether under a contract, tort, or any other theory of liability, even if Freddie Mac is aware of the possibility of such damages.\n\nCopyright, 2016, Freddie Mac. Reprinted with permission.",
            "observation_end": "2023-01-26",
            "observation_start": "1971-04-02",
            "popularity": 99,
            "realtime_end": "2023-01-31",
            "realtime_start": "2022-11-17",
            "seasonal_adjustment": "Not Seasonally Adjusted",
            "seasonal_adjustment_short": "NSA",
            "title": "30-Year Fixed Rate Mortgage Average in the United States",
            "units": "Percent",
            "units_short": "%"
        }
    ]
}

In [68]:
mortgage_30_yr = fred.get_series('MORTGAGE30US')
mortgage_30_yr.name = 'mortgage_30_yr'
mortgage_30_yr.tail()

2023-03-02    6.65
2023-03-09    6.73
2023-03-16    6.60
2023-03-23    6.42
2023-03-30    6.32
Name: mortgage_30_yr, dtype: float64

In [72]:
mortgage_30_yr.to_frame(mortgage_30_yr)
mortgage_30_yr.shape

(2714,)

In [62]:
mortgage_rate_30_df = pd.DataFrame(mortgage_30_yr)
mortgage_rate_30_df

            mortgage_30_yr
1971-04-02            7.33
1971-04-09            7.31
1971-04-16            7.31
1971-04-23            7.31
1971-04-30            7.29
...                    ...
2023-03-02            6.65
2023-03-09            6.73
2023-03-16            6.60
2023-03-23            6.42
2023-03-30            6.32

[2714 rows x 1 columns]

In [74]:
mortgage_rate_30=mortgage_rate_30_df.reset_index(inplace=True)
mortgage_rate_30_df

          index  mortgage_30_yr
0    1971-04-02            7.33
1    1971-04-09            7.31
2    1971-04-16            7.31
3    1971-04-23            7.31
4    1971-04-30            7.29
...         ...             ...
2709 2023-03-02            6.65
2710 2023-03-09            6.73
2711 2023-03-16            6.60
2712 2023-03-23            6.42
2713 2023-03-30            6.32

[2714 rows x 2 columns]

In [75]:
mortgage_rate_30_df.columns =['Date', 'Rate']
mortgage_rate_30_df

           Date  Rate
0    1971-04-02  7.33
1    1971-04-09  7.31
2    1971-04-16  7.31
3    1971-04-23  7.31
4    1971-04-30  7.29
...         ...   ...
2709 2023-03-02  6.65
2710 2023-03-09  6.73
2711 2023-03-16  6.60
2712 2023-03-23  6.42
2713 2023-03-30  6.32

[2714 rows x 2 columns]

In [80]:
mortgage_rate_30_df.dtypes

Date    datetime64[ns]
Rate           float64
dtype: object

In [88]:
# ideal_condition_df = city_data_df.loc[
#     (city_data_df["Max Temp"] < 30) & (city_data_df["Max Temp"] > 20) & (city_data_df["Cloudiness"] == 0) & (city_data_df["Country"] != "US")]
# ideal_condition_df

# mortgage_rate_30_df = mortgage_rate_30_df.loc[(mortgage_rate_30_df["Date"] >2018-0o7-31) & (mortgage_rate_30_df["Date"]<2023-0o2-0o1)]
# mortgage_rate_30_df

mortgage_rate_30_df = mortgage_rate_30_df.query("Date > '2018-07-31' and Date < '2023-02-01'")
mortgage_rate_30_df

           Date  Rate
2475 2018-09-06  4.54
2476 2018-09-13  4.60
2477 2018-09-20  4.65
2478 2018-09-27  4.72
2479 2018-10-04  4.71
...         ...   ...
2700 2022-12-29  6.42
2701 2023-01-05  6.48
2702 2023-01-12  6.33
2703 2023-01-19  6.15
2704 2023-01-26  6.13

[230 rows x 2 columns]

In [103]:
# now = datetime.now()
# thirty_days_later = now + timedelta(days=30)

# for dt in rrule.rrule(rrule.MONTHLY, dtstart=now, until=thirty_days_later):
#     print(dt) 


# def datespan(startDate, endDate, delta=timedelta(days=30)):
#     currentDate = startDate
#     while currentDate < endDate:
#         yield currentDate
#         currentDate += delta

#     for day in datespan(date('2018-09-06'), date('2023-02-01'), delta=timedelta(days=30)):
#         print(day)

# last_day_of_month_dict = {
#     "01":31 , "02":28, "03":31, "04":30, "05":31, "06":30, "07":31, "08":31, "09":30, "10":31, "11":30, "12":31
# }

avg_monthly_rate = []
counter=0

for i, row in mortgage_rate_30_df.iterrows():
    # month = mortgage_rate_30_df.loc[i, "Date"]
    # next_month = mortgage_rate_30_df.loc[i+1, "Date"]
    
    if i<10:
        print(i, row)