In [1]:
# import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# read in raw data of Median List Price using pandas
median_data_to_load = 'Resources/median_list_price.csv'
lr_median_list_price = pd.read_csv(median_data_to_load)

# View DataFrame
lr_median_list_price.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,102001,0,United States,country,NaN,263267.0,271267.0,276633.0,280000.0,280300.0,...,376300.0,387967.0,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0,371900.0
1,394913,1,"New York, NY",msa,NY,503000.0,513000.0,521300.0,526300.0,528300.0,...,610667.0,617667.0,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0,626000.0
2,753899,2,"Los Angeles, CA",msa,CA,721333.0,735000.0,743333.0,750000.0,749667.0,...,916596.0,924967.0,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882646.0,885980.0
3,394463,3,"Chicago, IL",msa,IL,284600.0,294600.0,300600.0,302267.0,301967.0,...,317967.0,323300.0,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0,301000.0
4,394514,4,"Dallas, TX",msa,TX,322997.0,328497.0,331797.0,332800.0,329502.0,...,419330.0,432663.0,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0,396667.0

In [3]:
# Drop the uneeded beginning date columns from Median List Price dataframe
lr_median_list_price.drop(lr_median_list_price.iloc[:,3:10], inplace=True, axis=1)

In [4]:
# Drop Region ID and final feburary date column from Median List Price dataframe
lr_median_list_price.drop(['RegionID','2023-02-28'], inplace=True, axis=1)

In [5]:
# Filter to only the top 26 rows
lr_median_list_price = lr_median_list_price.loc[(lr_median_list_price['SizeRank'] <26), :]

#set SizeRank to index
lr_median_list_price = lr_median_list_price.set_index('SizeRank')

lr_median_list_price.head()

,RegionName,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,...,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31
SizeRank,,,,,,,,,,,,,,,,,,,,,
0,United States,279633.0,279600.0,279300.0,278933.0,277300.0,275967.0,276633.0,281300.0,287967.0,...,362967.0,376300.0,387967.0,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0
1,"New York, NY",526600.0,526267.0,527600.0,529000.0,527667.0,524667.0,524667.0,528000.0,537667.0,...,603550.0,610667.0,617667.0,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0
2,"Los Angeles, CA",742967.0,736267.0,728267.0,724633.0,719667.0,711300.0,711600.0,716267.0,732633.0,...,904963.0,916596.0,924967.0,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882646.0
3,"Chicago, IL",297933.0,296117.0,292783.0,288483.0,283333.0,280000.0,284300.0,291267.0,301267.0,...,309300.0,317967.0,323300.0,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0
4,"Dallas, TX",324202.0,321168.0,318966.0,317633.0,315999.0,313333.0,313667.0,316967.0,323633.0,...,407333.0,419330.0,432663.0,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0

In [9]:
# Write cleaned Dataframe to my personal output data folder
lr_median_list_price.to_csv('Output Data/lr_cleaned_mlp.csv')

# Write cleaned Dataframe to group data folder
lr_median_list_price.to_csv('../data/lr_cleaned_mlp.csv')

In [7]:
# Grab the US Average Median list price row and set to a dataframe
us_average_list_price = pd.Series(lr_median_list_price.iloc[0])
us_average_list_price_df = pd.DataFrame (us_average_list_price)

In [8]:
# Import average mortgage rate data from group data folder
lr_mortgage_rate_to_load = '../data/cp_average_mortgage_rate.csv'
average_mortgage_rate = pd.read_csv(lr_mortgage_rate_to_load)
average_mortgage_rate

    Year  Month  Average Rate
0   2018      8        4.5500
1   2018      9        4.6275
2   2018     10        4.8300
3   2018     11        4.8660
4   2018     12        4.6375
5   2019      1        4.4640
6   2019      2        4.3700
7   2019      3        4.2650
8   2019      4        4.1425
9   2019      5        4.0720
10  2019      6        3.8025
11  2019      7        3.7650
12  2019      8        3.6160
13  2019      9        3.6050
14  2019     10        3.6880
15  2019     11        3.6950
16  2019     12        3.7200
17  2020      1        3.6240
18  2020      2        3.4650
19  2020      3        3.4500
20  2020      4        3.3060
21  2020      5        3.2325
22  2020      6        3.1625
23  2020      7        3.0160
24  2020      8        2.9350
25  2020      9        2.8900
26  2020     10        2.8340
27  2020     11        2.7650
28  2020     12        2.6840
29  2021      1        2.7350
30  2021      2        2.8100
31  2021      3        3.0825
32  2021      4        3.0600
33  2021      5        2.9625
34  2021      6        2.9750
35  2021      7        2.8680
36  2021      8        2.8425
37  2021      9        2.9000
38  2021     10        3.0675
39  2021     11        3.0675
40  2021     12        3.0980
41  2022      1        3.4450
42  2022      2        3.7625
43  2022      3        4.1720
44  2022      4        4.9825
45  2022      5        5.2300
46  2022      6        5.5220
47  2022      7        5.4125
48  2022      8        5.2225
49  2022      9        6.1120
50  2022     10        6.9000
51  2022     11        6.8050
52  2022     12        6.3640
53  2023      1        6.2725

In [ ]:
average_sales_price = cp_median_sale_price.mean()
average_list_price = lr_median_list_price.mean()

years = average_sales_price.keys()

plt.figure(figsize=(20,15))
sales_plot, = plt.plot(years, average_sales_price, color="blue", label="Average Sales Price" )

list_price_plot, = plt.plot(years, average_list_price, color='green', label="Average List Price")

plt.xticks(rotation="vertical")
plt.legend(handles=[sales_plot, list_price_plot], loc="best")

plt.show()