In [1]:
import pandas as pd

In [2]:
median_data_to_load = 'Resources/median_list_price.csv'
lr_median_list_price = pd.read_csv(median_data_to_load)

In [3]:
lr_median_list_price.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,102001,0,United States,country,NaN,263267.0,271267.0,276633.0,280000.0,280300.0,...,376300.0,387967.0,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0,371900.0
1,394913,1,"New York, NY",msa,NY,503000.0,513000.0,521300.0,526300.0,528300.0,...,610667.0,617667.0,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0,626000.0
2,753899,2,"Los Angeles, CA",msa,CA,721333.0,735000.0,743333.0,750000.0,749667.0,...,916596.0,924967.0,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882646.0,885980.0
3,394463,3,"Chicago, IL",msa,IL,284600.0,294600.0,300600.0,302267.0,301967.0,...,317967.0,323300.0,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0,301000.0
4,394514,4,"Dallas, TX",msa,TX,322997.0,328497.0,331797.0,332800.0,329502.0,...,419330.0,432663.0,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0,396667.0

In [5]:
lr_median_list_price.drop(lr_median_list_price.iloc[:,3:10], inplace=True, axis=1)

In [6]:
lr_median_list_price.drop(['RegionID','2023-02-28'], inplace=True, axis=1)

In [9]:
lr_median_list_price = lr_median_list_price.loc[(lr_median_list_price['SizeRank'] <26), :]
lr_median_list_price

,SizeRank,RegionName,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,...,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31
0,0,United States,279633.0,279600.0,279300.0,278933.0,277300.0,275967.0,276633.0,281300.0,...,362967.0,376300.0,387967.0,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0
1,1,"New York, NY",526600.0,526267.0,527600.0,529000.0,527667.0,524667.0,524667.0,528000.0,...,603550.0,610667.0,617667.0,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0
2,2,"Los Angeles, CA",742967.0,736267.0,728267.0,724633.0,719667.0,711300.0,711600.0,716267.0,...,904963.0,916596.0,924967.0,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882646.0
3,3,"Chicago, IL",297933.0,296117.0,292783.0,288483.0,283333.0,280000.0,284300.0,291267.0,...,309300.0,317967.0,323300.0,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0
4,4,"Dallas, TX",324202.0,321168.0,318966.0,317633.0,315999.0,313333.0,313667.0,316967.0,...,407333.0,419330.0,432663.0,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0
5,5,"Houston, TX",297800.0,296165.0,293132.0,291632.0,289933.0,288300.0,289965.0,292665.0,...,343650.0,356317.0,364167.0,367500.0,364500.0,358000.0,352997.0,349663.0,347122.0,343792.0
6,6,"Washington, DC",434933.0,428300.0,423300.0,420000.0,411633.0,404633.0,405633.0,415667.0,...,501333.0,521333.0,533083.0,533083.0,526717.0,523300.0,521633.0,518300.0,509800.0,503100.0
7,7,"Miami, FL",369267.0,367967.0,366333.0,367667.0,367833.0,366167.0,363167.0,361667.0,...,480000.0,503333.0,526333.0,543000.0,546300.0,546300.0,545967.0,549000.0,549000.0,545667.0
8,8,"Philadelphia, PA",251633.0,249933.0,249600.0,247300.0,242333.0,236000.0,234333.0,239000.0,...,297583.0,309333.0,316333.0,318000.0,314967.0,311600.0,308233.0,304900.0,298263.0,293297.0
9,9,"Atlanta, GA",292000.0,288667.0,284667.0,283000.0,279666.0,277966.0,279600.0,283733.0,...,362050.0,375350.0,387383.0,391933.0,388600.0,381600.0,376600.0,371633.0,366600.0,359967.0
10,10,"Phoenix, AZ",321600.0,319900.0,319867.0,318600.0,319600.0,320967.0,323967.0,325167.0,...,486666.0,500000.0,510000.0,509975.0,501642.0,489975.0,481666.0,473333.0,466633.0,463300.0
11,11,"Boston, MA",503967.0,496267.0,496567.0,499600.0,499300.0,497667.0,498000.0,506666.0,...,682333.0,690967.0,695967.0,697967.0,689667.0,689667.0,691000.0,699000.0,699000.0,699333.0
12,12,"San Francisco, CA",894667.0,887667.0,887667.0,889667.0,872815.0,857481.0,862448.0,884633.0,...,1045667.0,1080667.0,1095000.0,1075000.0,1043000.0,1027667.0,1016000.0,1014667.0,981333.0,964333.0
13,13,"Riverside, CA",389816.0,389333.0,387667.0,387277.0,385943.0,385943.0,386633.0,389967.0,...,561333.0,574667.0,581333.0,580833.0,575833.0,570833.0,564667.0,558000.0,553000.0,550000.0
14,14,"Detroit, MI",220333.0,215333.0,208333.0,203000.0,196300.0,192933.0,189900.0,193267.0,...,211633.0,229633.0,244300.0,251000.0,251000.0,246300.0,239633.0,229966.0,219666.0,211300.0
15,15,"Seattle, WA",514667.0,511333.0,510000.0,510000.0,504983.0,499983.0,509983.0,526333.0,...,713333.0,738333.0,750000.0,746642.0,736625.0,724958.0,711317.0,697967.0,679617.0,663283.0
16,16,"Minneapolis, MN",308192.0,303225.0,299996.0,299963.0,303263.0,309900.0,318267.0,324933.0,...,340000.0,351667.0,358817.0,363817.0,363783.0,359967.0,354933.0,349933.0,344900.0,341267.0
17,17,"San Diego, CA",666000.0,657667.0,651333.0,649333.0,649000.0,649000.0,649300.0,652633.0,...,852633.0,876300.0,892667.0,891000.0,874667.0,858333.0,850000.0,850000.0,850000.0,858333.0
18,18,"Tampa, FL",250600.0,249600.0,247967.0,247300.0,246633.0,246633.0,247000.0,247967.0,...,379667.0,394667.0,409633.0,416500.0,416500.0,412867.0,406300.0,402583.0,397917.0,394583.0
19,19,"Denver, CO",453300.0,450000.0,448333.0,445833.0,445500.0,447167.0,453000.0,459967.0,...,619298.0,636298.0,646300.0,642967.0,632967.0,621633.0,611667.0,604667.0,598000.0,596333.0
20,20,"St. Louis, MO",203150.0,202983.0,201467.0,201433.0,198933.0,197300.0,197333.0,203333.0,...,208633.0,220000.0,228300.0,229933.0,228267.0,226633.0,225000.0,221633.0,213300.0,204933.0
21,21,"Baltimore, MD",306666.0,303300.0,299933.0,296067.0,289400.0,281067.0,278100.0,283133.0,...,324667.0,341300.0,349633.0,349933.0,346600.0,341567.0,334933.0,329967.0,321667.0,311667.0
22,22,"Charlotte, NC",304648.0,304500.0,302467.0,302133.0,297967.0,294667.0,294967.0,296633.0,...,374000.0,382333.0,387300.0,387967.0,386300.0,382333.0,378083.0,374583.0,368250.0,361500.0
23,23,"Orlando, FL",289267.0,287633.0,285000.0,283967.0,282300.0,281633.0,280666.0,283666.0,...,393333.0,407000.0,417333.0,423333.0,424000.0,424000.0,422000.0,419633.0,414633.0,411300.0
24,24,"San Antonio, TX",268100.0,266433.0,263233.0,261433.0,259467.0,258030.0,258197.0,261530.0,...,329967.0,340000.0,351500.0,356500.0,356467.0,351633.0,344957.0,339990.0,335657.0,332000.0
25,25,"Portland, OR",450300.0,445633.0,443967.0,444967.0,446300.0,444633.0,444600.0,444900.0,...,538000.0,552667.0,564633.0,570967.0,564633.0,556300.0,548300.0,543300.0,538333.0,533333.0

In [10]:
column_names=list(lr_median_list_price.columns)
new_list=[]
data_name="Median List Price"
for name in column_names:
    new_list.append(f'{data_name} {name}')
lr_median_list_price.columns=new_list
lr_median_list_price.head()

,Median List Price SizeRank,Median List Price RegionName,Median List Price 2018-08-31,Median List Price 2018-09-30,Median List Price 2018-10-31,Median List Price 2018-11-30,Median List Price 2018-12-31,Median List Price 2019-01-31,Median List Price 2019-02-28,Median List Price 2019-03-31,...,Median List Price 2022-04-30,Median List Price 2022-05-31,Median List Price 2022-06-30,Median List Price 2022-07-31,Median List Price 2022-08-31,Median List Price 2022-09-30,Median List Price 2022-10-31,Median List Price 2022-11-30,Median List Price 2022-12-31,Median List Price 2023-01-31
0,0,United States,279633.0,279600.0,279300.0,278933.0,277300.0,275967.0,276633.0,281300.0,...,362967.0,376300.0,387967.0,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0
1,1,"New York, NY",526600.0,526267.0,527600.0,529000.0,527667.0,524667.0,524667.0,528000.0,...,603550.0,610667.0,617667.0,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0
2,2,"Los Angeles, CA",742967.0,736267.0,728267.0,724633.0,719667.0,711300.0,711600.0,716267.0,...,904963.0,916596.0,924967.0,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882646.0
3,3,"Chicago, IL",297933.0,296117.0,292783.0,288483.0,283333.0,280000.0,284300.0,291267.0,...,309300.0,317967.0,323300.0,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0
4,4,"Dallas, TX",324202.0,321168.0,318966.0,317633.0,315999.0,313333.0,313667.0,316967.0,...,407333.0,419330.0,432663.0,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0

In [11]:
lr_median_list_price.to_csv('Output Data/lr_cleaned_mlp.csv')