In [1]:
#Dependencies
import json
import requests
import pandas as pd

#Fred Key
from config import fred_api

In [2]:
#settings for API request
base_url="https://api.stlouisfed.org/fred/"
request_type="series/observations"
params={
    "series_id":"MPRIME",
    "api_key":fred_api,
    "file_type":"json",
    "observation_start":"2018-09-01",
    "observation_end:":"2023-02-01",
}

In [3]:
#make the request
response=requests.get((base_url+request_type),params=params)
MPRIME_data=response.json()
#display the response
print(json.dumps(MPRIME_data, indent=4, sort_keys=True))

{
    "count": 54,
    "file_type": "json",
    "limit": 100000,
    "observation_end": "9999-12-31",
    "observation_start": "2018-09-01",
    "observations": [
        {
            "date": "2018-09-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.03"
        },
        {
            "date": "2018-10-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.25"
        },
        {
            "date": "2018-11-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.25"
        },
        {
            "date": "2018-12-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.35"
        },
        {
            "date": "2019-01-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-02-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-03-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-04-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-05-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-06-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-07-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2019-08-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.25"
        },
        {
            "date": "2019-09-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.15"
        },
        {
            "date": "2019-10-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.99"
        },
        {
            "date": "2019-11-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.75"
        },
        {
            "date": "2019-12-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.75"
        },
        {
            "date": "2020-01-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.75"
        },
        {
            "date": "2020-02-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.75"
        },
        {
            "date": "2020-03-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.78"
        },
        {
            "date": "2020-04-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-05-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-06-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-07-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-08-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-09-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-10-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-11-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2020-12-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-01-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-02-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-03-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-04-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-05-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-06-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-07-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-08-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-09-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-10-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-11-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2021-12-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2022-01-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2022-02-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.25"
        },
        {
            "date": "2022-03-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.37"
        },
        {
            "date": "2022-04-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.50"
        },
        {
            "date": "2022-05-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "3.94"
        },
        {
            "date": "2022-06-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.38"
        },
        {
            "date": "2022-07-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "4.85"
        },
        {
            "date": "2022-08-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.50"
        },
        {
            "date": "2022-09-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "5.73"
        },
        {
            "date": "2022-10-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "6.25"
        },
        {
            "date": "2022-11-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "6.95"
        },
        {
            "date": "2022-12-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "7.27"
        },
        {
            "date": "2023-01-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "7.50"
        },
        {
            "date": "2023-02-01",
            "realtime_end": "2023-04-02",
            "realtime_start": "2023-04-02",
            "value": "7.74"
        }
    ],
    "offset": 0,
    "order_by": "observation_date",
    "output_type": 1,
    "realtime_end": "2023-04-02",
    "realtime_start": "2023-04-02",
    "sort_order": "asc",
    "units": "lin"
}

In [4]:
#get the list of observations
prime_points=MPRIME_data["observations"]

In [5]:
#process the list of observations, extracting the date and rate value
date_point=[]
rate_point=[]
for point in prime_points:
    date_point.append(point["date"])
    rate_point.append(point["value"])

In [6]:
#create DataFrames to store the Lists
#vertically oriented 
prime_virt_df=pd.DataFrame(
    {"Dates":date_point,
    "Rates":rate_point})
prime_virt_df

         Dates Rates
0   2018-09-01  5.03
1   2018-10-01  5.25
2   2018-11-01  5.25
3   2018-12-01  5.35
4   2019-01-01  5.50
5   2019-02-01  5.50
6   2019-03-01  5.50
7   2019-04-01  5.50
8   2019-05-01  5.50
9   2019-06-01  5.50
10  2019-07-01  5.50
11  2019-08-01  5.25
12  2019-09-01  5.15
13  2019-10-01  4.99
14  2019-11-01  4.75
15  2019-12-01  4.75
16  2020-01-01  4.75
17  2020-02-01  4.75
18  2020-03-01  3.78
19  2020-04-01  3.25
20  2020-05-01  3.25
21  2020-06-01  3.25
22  2020-07-01  3.25
23  2020-08-01  3.25
24  2020-09-01  3.25
25  2020-10-01  3.25
26  2020-11-01  3.25
27  2020-12-01  3.25
28  2021-01-01  3.25
29  2021-02-01  3.25
30  2021-03-01  3.25
31  2021-04-01  3.25
32  2021-05-01  3.25
33  2021-06-01  3.25
34  2021-07-01  3.25
35  2021-08-01  3.25
36  2021-09-01  3.25
37  2021-10-01  3.25
38  2021-11-01  3.25
39  2021-12-01  3.25
40  2022-01-01  3.25
41  2022-02-01  3.25
42  2022-03-01  3.37
43  2022-04-01  3.50
44  2022-05-01  3.94
45  2022-06-01  4.38
46  2022-07-01  4.85
47  2022-08-01  5.50
48  2022-09-01  5.73
49  2022-10-01  6.25
50  2022-11-01  6.95
51  2022-12-01  7.27
52  2023-01-01  7.50
53  2023-02-01  7.74

In [7]:
#horizontally oriented
prime_horz_df=pd.DataFrame([rate_point])
prime_horz_df.columns=date_point
prime_horz_df

,2018-09-01,2018-10-01,2018-11-01,2018-12-01,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,...,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01
0,5.03,5.25,5.25,5.35,5.50,5.50,5.50,5.50,5.50,5.50,...,3.94,4.38,4.85,5.50,5.73,6.25,6.95,7.27,7.50,7.74

In [9]:
#export for others to use
prime_virt_df.to_csv("prime_vertical.csv")
prime_horz_df.to_csv("prime_horizontal.csv")